
<table class="table table-striped">
    <thead>
    <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of forms" [routerLink]="['/dashboard', form.id]" [id]="form.id">
        <th scope="col">{{dashDetails.student.id}}</th>
        <td>{{ dashDetails.student.firstName }}</td>
        <td>{{ dashDetails.student.lastName }}</td>
        <td>{{ dashDetails.courses[0] }}</td>
        <td>{{ dashDetails.courses[1] }}</td>
        <td>{{ dashDetails.courses[2] }}</td>
    </tr>
    </tbody>
</table>
