
<table class="table table-striped">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td *ngFor="let form of forms">{{ form.id }}</td>
      <td *ngFor="let form of forms">{{ form.name }}</td>
      <td *ngFor="let form of forms">{{ form.surname }}</td>
      <td *ngFor="let form of forms">{{ form.course1 }}</td>
      <td *ngFor="let form of forms">{{ form.course2 }}</td>
      <td *ngFor="let form of forms">{{ form.course3 }}</td>
    </tr>
    </tbody>
  </table>