<div class="container">
    <form (ngSubmit)="submit()" #choosingPanel="ngForm">
        <label for="name">Imię</label>
        <div class="form-group">
            <input type="text" class="form-control" id="name" [(ngModel)]="form.student.firstName" name="name"
                   [disabled]="isDisabled" required>
        </div>
        <label for="surname">Nazwisko</label>
        <div class="form-group">
            <input type="text" class="form-control" id="surname" [(ngModel)]="form.student.lastName" name="surname"
                   [disabled]="isDisabled" required>
        </div>
        <label for="subject1">Kurs 1</label>
        <div class="form-group">
            <select class="form-control" id="subject1" [(ngModel)]="form.courses[0]" name="course1" [disabled]="isDisabled" required>
                <ng-container *ngFor="let course of courses">
                    <ng-container *ngIf="course.id != form.courses[1] && course.id != form.courses[2]">
                        <option [value]="course.id">{{course.name}}</option>
                    </ng-container>
                </ng-container>
            </select>
        </div>
        <label for="subject2">Kurs 2</label>
        <div class="form-group">
            <select class="form-control" id="subject2" [(ngModel)]="form.courses[1]" name="course2" [disabled]="isDisabled" required>
                <ng-container *ngFor="let course of courses">
                    <ng-container *ngIf="course.id != form.courses[0] && course.id != form.courses[2]">
                        <option [value]="course.id">{{course.name}}</option>
                    </ng-container>
                </ng-container>
            </select>
        </div>
        <label for="subject3">Kurs 3</label>
        <div class="form-group">
            <select class="form-control" id="subject3" [(ngModel)]="form.courses[2]" name="course3" [disabled]="isDisabled" required>
                <ng-container *ngFor="let course of courses">
                    <ng-container *ngIf="course.id != form.courses[0] && course.id != form.courses[1]">
                        <option [value]="course.id">{{course.name}}</option>
                    </ng-container>
                </ng-container>
            </select>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="isDisabled">Wyślij wyniki!</button>
    </form>

    <br>

    <button class="btn btn-warning" (click)="enable()" [disabled]="!isDisabled">Edytuj</button>
    <button class="btn btn-info" (click)="disable()" [disabled]="isDisabled">Anuluj edycje</button>
    <br>
    <br>
    <button class="btn btn-danger" (click)="delete()" [disabled]="isDisabled">Usuń</button>

</div>